body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notification {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  color: white;
}

.notification.success {
  background-color: green;
}

.notification.error {
  background-color: red;
}

.notification button {
  color: blue;
}

